* {
  box-sizing: border-box;
}

html {
  height: 100%;
  font-size: $scale;
}

body {
  font-family: var(--font-family);
  color: var(--text-color);
  background-color: var(--surface-ground);
  margin: 0;
  padding: 0;
  min-height: 100%;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  text-decoration: none;
}

.layout-wrapper {
  min-height: 100vh;
}

.reddot-gutter {
    padding: .5rem;
}

.reddot-gutter [class*=col] { padding: .5rem; }

.reddot-primary {
  background-image: linear-gradient(to left, var(--primary-600), var(--primary-400));
}

.reddot-button-primary {
  border: transparent;
  background-color: var(--cyan-200);
  color: var(--surface-800);
}

.reddot-button-secondary {
  border: transparent;
  background-color: var(--surface-300);
  color: var(--surface-0);
}

.reddot-button-danger {
  border: transparent;
  background-color: var(--red-300);
  color: var(--surface-0);
}

.bg-esco-blue {
  background-color: #00467F !important;
}

.text-esco-blue {
  color: #00467F !important;
}

// --------------
// ESCO CUSTOM
// --------------
// background
// blue 1
.bg-esco-blue1-light { background-color: $lightblue !important; }
.bg-esco-blue1-light:hover { background-color: $lightblue-hover !important; }
.bg-esco-blue1-light:active { background-color: $lightblue-active !important; }
.bg-esco-blue1-light-hover { background-color: $lightblue-hover !important; }
.bg-esco-blue1-light-active { background-color: $lightblue-active !important; }

.bg-esco-blue1-normal { background-color: $lightblue-normal !important; }
.bg-esco-blue1-normal:hover { background-color: $lightblue-normal-hover !important; }
.bg-esco-blue1-normal:active { background-color: $lightblue-normal-active !important; }
.bg-esco-blue1-normal-hover { background-color: $lightblue-normal-hover !important; }
.bg-esco-blue1-normal-active { background-color: $lightblue-normal-active !important; }

.bg-esco-blue1-dark { background-color: #006d9c !important; }
.bg-esco-blue1-dark-hover { background-color: #00577d !important; }
.bg-esco-blue1-dark-active { background-color: #00415e !important; }
.bg-esco-blue1-darker { background-color: #003349 !important; }
// blue 2
.bg-esco-blue2-light { background-color: #e6edf2 !important; }
.bg-esco-blue2-light-hover { background-color: #d9e3ec !important; }
.bg-esco-blue2-light-active { background-color: #b0c6d7 !important; }
.bg-esco-blue2-normal { background-color: #00467f !important; }
.bg-esco-blue2-normal-hover { background-color: #003f72 !important; }
.bg-esco-blue2-normal-active { background-color: #003866 !important; }
.bg-esco-blue2-dark { background-color: #00355f !important; }
.bg-esco-blue2-dark-hover { background-color: #002a4c !important; }
.bg-esco-blue2-dark-active { background-color: #001f39 !important; }
.bg-esco-blue2-darker { background-color: #00192c !important; }